Framework_UClient/obj/
Framework_UClient/.vs/
Framework_UClient/Logs/
Framework_UClient/Library/
Framework_UClient/Temp/
Framework_Project/.vs/

Framework_UClient/Assets/StreamingAssets/build_info
Framework_UClient/Assets/AmplifyShaderEditor/
Framework_UClient/Assets/Test/
Framework_UClient/Assets/_Editor/EditorScene/
Framework_UClient/TestCore.csproj
Framework_UClient/_HotFix_Temp
Framework_Project/HotFix/.vs/
_Tool/HotFixTool/.vs/
